<html>
<head>
  <script async src='http://local.abrah.am:1234/script.js'></script>
  <script>
  console.log('test.hmtl:loaded');
  var adnw = adnw || {};
  adnw.host = 'http://local.abrah.am:1234';
  </script>
</head>
<body>
  <p>hello world</p>
  
  <a class="adnw-follow" data-username="abraham" href="https://alpha.app.net/abraham">Follow @abraham on ADN</a>
  <a class="adnw-follow" data-username="dalton" href="https://alpha.app.net/dalton">Follow @dalton on ADN</a>
  <a class="adnw-follow" data-username="abrahamwilliams" href="https://alpha.app.net/abrahamwilliams">Follow @abrahamwilliams on ADN</a>
</body>